*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* 
.myStyle {
    color: red;
    font-size: 3rem;
}

button {
    padding: 0.7rem 1rem;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;

    transition: 0.5s ease-in-out;
} */
/* 
button:hover {
    background-color: yellowgreen;
} */



.section-1 {
    width: 100%;
    height: 90vh;
    background-image: radial-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3) ) , url('cover.jpg');
    background-position: fixed;
    background-size: cover;
    background-position: center;
    padding-left: 2%;
    z-index: -2;
    margin-top: -52px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;  
}

a{
    padding-right: 2rem;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

i{
    color: white;
}

.menu-box {
    display: none;
}
.section-two{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    transition: 0.5s ease-in-out;
}
.section-two:hover{
    background-color: rgb(244, 224, 126);
    color: white;

}
.box{
    width: 450px;   
    text-align: center;
}
@media (max-width: 1024px) {

    .second-box {
        display: none;
    }

    .menu-box {
        display: block;
    }

    .section-one {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 500px) {
    .two {
        grid-template-columns: 1fr;
    }
}
h1{
    padding-bottom: 30px;
    
}

p{
    padding-bottom: 1rem;
    line-height: 25px;
    margin-top: -10px;
}
.section-c  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(300px);
    gap: 20px;
    padding: 2rem;
   
  
}

.section-c2  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(300px);
    gap: 20px;
    padding: 2rem;
}
.section-c3  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(300px);
    gap: 20px;
    padding: 2rem;
}
.section-c4  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(300px);
    gap: 20px;
    padding: 2rem;
}
.section-c5  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(300px);
    gap: 20px;
    padding: 2rem;
}
.section-c6  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(300px);
    gap: 20px;
    padding: 2rem;
}
.price {
    color: rgb(58, 11, 112);
}
img {
    width: 100%;
    height: 300px;
    object-fit:cover;
    background-position: top;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0px rgb(240, 101, 173);
    margin: 10px;
}
.img:hover{

    color: white;
    box-shadow: 0 0 30px rgb(236, 111, 132);

}
h4{
    color: rgb(32, 15, 116);
    font-size: 25px;
    margin-top: 10px;
}
.description {
    margin-top: 10px;
}
.bck2 {
    width: 100%;  
    height: 40vh;
    background-image: url('mama.webp');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.sp2 {
    padding: 0.7rem 1rem;
    border: 1px solid rgb(117, 9, 121);
    margin-right: 10px;
    color: rgb(33, 56, 187);
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
    width: 150px;
    margin-left: 70vh;
   

}
.sp2:hover {
    background-color: rgb(7, 96, 211);
    color: rgb(255, 252, 252);
}
.section-d2{
    margin-top: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(300px);
    padding: 20px;
    background-color: lavender;
    transition: 0.5s ease-in-out;
    background-image: url('bling.jpg');
    background-size: cover;
    color: white;
}
.section-d2:hover{
    background-color: rgb(82, 60, 82);
    color: rgb(17, 16, 16);
}

.img1 {
    width: 25%;
    height: 75px;
    object-fit: cover;
    background-position: end;
}
.pic {
    margin-left: 24vh;
    size: 10px;
    height: 20%;
}

@media (max-width: 1025px) {
    .section-c{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 500px) {
    .section-c{
        grid-template-columns: repeat(1,1fr);
    }
    .section-d{
        grid-template-columns: repeat(1,1fr);
        padding: 1rem;
    }
}

.c-box{
    box-shadow: 0 0 0px rgb(236, 111, 132);
 transition: 0.5s ease-in-out;
}
.c-box:hover{
    color: white;
    box-shadow: 0 0 10px rgb(236, 111, 132);

}
h2{
    color: white;
}